<!-- NOTE: If you're working offline, you might have to change the DOCTYPE to the following:
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.evan.model.User"/>
        <mapping class="com.evan.model.Role"/>
        <mapping class="com.evan.model.Organization"/>
        <mapping class="com.evan.model.ProfileField"/>
        <mapping class="com.evan.model.ProfileFieldType"/>
        <mapping class="com.evan.model.ProfileFieldValue"/>
    </session-factory>
</hibernate-configuration>